body {
    margin: 0 auto;
    background-position: center;
    background-color: rgb(27, 25, 25);
    background-size: contain;
}
.menu {
    position: fixed;
    top: 0;
    background-color:#BE3144;
    padding: 5px 0px 10px 1149px;
    color: white;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 7px;
}
.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;    
}

/* Home Page */

.home {
    background-color: rgb(27, 25, 25);
    color:white;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin-top: 150px;
    margin-left:120px;
    font-size: 16px;

}
.home button {
    color:red;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    padding: 16px;
    margin-bottom: 15px;
    width: 30%;
    box-sizing: border-box;
    outline: 0;
    font-size: 16px;
}
.home a :hover {
    color: white; 
    background-color: white; 
    padding: 10px;
    transition: background-color 0.3s, color 0.3s; 
}
.home a :hover {
    color: whitesmoke; 
    background-color: red; 
}
.home_img {
    margin-top: 150px;
    height: 65vh;
    border-radius: 10px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    align-items: center;
    padding: 20px;
}

/* ABOUT */
#about {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: white;
    height: 100vh;
    padding: 150px;
}
.icons {
    display: flex;
    margin-top: 30px;
    gap: 70px;
}
.icons img {
    height:8vh;
}

/* Contact me */
.contact-form {
    background-color: #333;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h1 {
    font-size: 36px;
    color: #BE3144;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border: 2px solid #BE3144;
}

.contact-form button {
    background-color: #BE3144;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #d43d57;
}
